<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu menuId="navigation" contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list" *ngIf="authService.isAuthorized$ | async">
                    <ion-menu-toggle auto-hide="false" *ngFor="let link of links; let i = index">
                        <ion-item routerDirection="root" [routerLink]="[link.url]" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon aria-hidden="true" slot="start" [md]="link.icon"></ion-icon>
                            <ion-label>{{ link.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <ion-modal [isOpen]="isSuccessOpen">
                    <ng-template>
                        isSuccessOpen
                    </ng-template>
                </ion-modal>
                <ion-modal [isOpen]="isErrorOpen">
                    <ng-template>
                        isErrorOpen
                    </ng-template>
                </ion-modal>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
