<div class="inventory-list__container">
    <ng-container *ngIf="listItems$ | async as listItems; else emptyList">
        <ng-container *ngFor="let item of listItems">
            <inventory-item (click)="setCurrentItem(item)" [model]="item" ></inventory-item>
        </ng-container>
    </ng-container>
    <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
        <ng-template>
            <inventory-item-modal
                (itemUpForSale)="getNewInventory()"
                (closeModal)="closeModal()"></inventory-item-modal>
        </ng-template>
    </ion-modal>
</div>

<ng-template #emptyList>
    Нет элементов в инвентаре
</ng-template>